@font-face {
  font-family: "Andika";
  src: url(/src/assets/fonts/AndBasR.ttf);
}
@font-face {
  font-family: "F25";
  src: url(/src/assets/fonts/F25_Executive.otf);
}



/* .home-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "F25";
  font-weight: bold;
  margin-top: 10px;
} */


.banner img{
  width: 100%;
  height: 500px;
  object-fit: cover;

}

/* card */
.card {
  display: flex;
  align-items: center;
  background-color: #c4bebe;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.card-content {
  flex-grow: 1;
}

.sections {
  margin-top: 20px;
}

/* sections */
.section {
  width: 100%; /* Se ocupa todo el ancho del contenedor */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px; /* Añade un espacio entre secciones */

  flex-direction: column; /* Alinea el contenido de forma vertical */
  align-items: center; /* Centra horizontalmente el contenido */
  justify-content: center; /* Centra verticalmente el contenido */
  text-align: center; /* Centra el texto dentro de la sección */
}

.section h2 {
  color: #054a61;
  text-align: center;
  font-family: 'F25';
}

.section p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.section p span{
  font-weight: bold;
}

.icon {
  font-size: 40px;
  color: #054a61;
  margin-bottom: 10px; /* Añade un margen inferior para separar del título */
}